<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--<![endif]-->
<html lang="en">
{% load pages_tags mezzanine_tags i18n staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block meta_title %}Delivering Farm Fresh Produce to you{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

    <link rel="icon" type="image/x-icon" href='{% static "img/favicon.png" %}'/>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "font-awesome-4.5.0/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    {% block extra_css %}{% endblock %}
    {% compress js %}
    <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/bootstrap-extras.js" %}"></script>
   
    {% block extra_js %}{% endblock %}
    {% endcompress %} 
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% block nav %}
    {% include 'includes/_nav.html' %}
    {% endblock %}
    {% block header %}{% endblock %}
    {% block shop %}
    <section class="content-section-b">
        <div class="container">
            <div class="row">
            {% block search %}
            {% endblock %}
            </div>
            <div class="row">
                <ul class="breadcrumb">
                    {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
                </ul>

                <div class="col-md-2 left">
                    {% block left_panel %}
                    <div class="panel panel-default tree">{% page_menu "pages/menus/tree.html" %}</div>
                    {% endblock %}
                </div>

                <div class="col-md-7 middle">
                    <h3 class="product-title">{% block title %}{% endblock %}</h3>
                    {% block main %}{% endblock %}
                </div>

                <div class="col-md-3 right">
                    {% nevercache %}
                    {% include "includes/language_selector.html" %}
                    {% include "includes/user_panel.html" %}
                    {% endnevercache %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% block right_panel %}
                            {% ifinstalled mezzanine.twitter %}
                            {% include "twitter/tweets.html" %}
                            {% endifinstalled %}
                            {% endblock %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    {% endblock shop %}
    {% block messages %}
    {% nevercache %}
    {% if messages %}
    <div class="messages">
        <div class="container">
            <div class="col-sm-6 col-sm-offset-3">
                {% for message in messages %}
                <div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4>{{ message }}</h4>
                    <hr style="border-color: transparent;"/>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="alert"><i class="fa fa-shopping-cart"></i> Continue Shopping</button>
                    <a href="{% url "shop_checkout" %}" class="btn btn-action btn-sm">{% if request.session.order.step %}Return to Checkout <i class="fa fa-angle-right"></i>{% else %}Go to Checkout <i class="fa fa-angle-double-right"></i>{% endif %}</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endnevercache %}
    {% endblock messages %}
    {% block ajax_alerts %}
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="alert"></div>
        </div>
    </div>
    {% endblock ajax_alerts %}
    {% block content %}{% endblock content %}
    {% block footer %}
    {% include 'includes/_footer.html' %}
    {% endblock %}
    {% include "includes/footer_scripts.html" %}
</body>
</html>
