{% extends 'layout.html' %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block nav %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="{% url 'home' %}">
                <img style="width:100%;" src="" alt="Ever Seasons">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-center">
                
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'vegetables' %}">Vegetables</a></li>
                <li><a href="">Featured</a></li>
                <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-shopping-cart"></i> Cart <span class="green badge">{% if not request.session.items_total %} 0 {% else %} {{ request.session.items_total }} {% endif%}</span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="">Go to Shopping Cart</a></li>
                    </ul>
                </li>
            {% if user.is_authenticated %}
            <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.email }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Orders</a></li>
                      <li><a href="">Account</a></li>
                      <li><a href="">logout</a></li>
                    </ul>
                </li>
            {% else %}
           <li><a href="">Sign up</a></li>
           <li><a href="">Log in</a></li>
            {% endif %}
        </ul>
    </div>
</div>
</nav>
{% endblock %}
{% block content %}{% endblock %}
{% block main %}{% endblock %}