{% extends 'base.html' %}
{% load staticfiles mezzanine_tags shop_tags rating_tags i18n %}
{% block meta_keywords %}everseasons, vegetables, fresh, carrots, potatoes, delivery, home delivery, online, Kenya, Nairobi{% endblock %}
{% block meta_description %}We are an online green groceries delivery service,  we traverse the country to source the best vegetables directly from farmers and bring them right to your doorstep.{% endblock %}

{% block extra_head %}<meta name="google-site-verification" content="TSSzWusWpF8ltknXUwzTOYpm_ZkjD5HwPS0jDIsEs4w" />{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">{% endblock %}
{% block header %}
<header  id="home-area">
	<div class="overlay">
		<div class="container">
			<div class="home-padding col-md-8 col-md-offset-1 col-sm-12 col-xs-12">
				<div class="home-content wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0s">
					<h1 class="icon"><i class="fa fa-leaf"></i> Everseasons</h1>
				</div>
			</div>
			<div class="col-md-8 col-sm-8 col-xs-12">
				<span class="intro">
					<h3>We are an online green groceries delivery service,  we traverse the country to source the best vegetables directly from farmers and bring them right to your doorstep.</h3>
					<h3><small>Promoting local farmers.</small></h3>
				</span>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="panel">
					<div class="panel-body">
						<h4>Deliveries</h4>
						<p>We make our deliveries from 8am to 6pm daily.</p>
						<a href="{% url 'page' 'delivery' %}" class="btn btn-action">More info</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
{% endblock %}
{% block shop %}{% endblock shop %}
{% block content %}
<section class="content-section-e">
	<div class="container">
		{% block menu_featured_vegies %}
		{% include 'includes/_search_header.html' %}
		{% include 'includes/_menu_nav.html' %}
		{% for vegie in featured %}
			{% include 'includes/_vegetable_list.html' %}
		{% endfor %}
		{% include 'includes/_call_to_action.html' %}
		{% endblock menu_featured_vegies %}
	</div>
	<div class="container">
		<div class="row text-center">
			<a href="{% url 'page' 'all' %}" class="btn btn-sm hidden-md hidden-sm hidden-lg">See more produce <i class="fa fa-angle-double-right"></i></a>
		</div>
	</div>
</section>
<section class="content-section-c">
	<div class="container">
		<div class="content text-center">
			<div class="heading">
				<h2><i class="fa fa-gears"></i> How it Works</h2>
				
			</div>
			<hr style="width: 40%;"/>
			<div class="row">
				<div class="col-sm-4 service animated hiding" data-animation="fadeInUp" data-delay="300">
					<i class="fa fa-hand-o-up fa-4x"></i>
					<h3>Select</h3>
					<p>Make your vegetable selection by adding produce to the shopping cart.</p>
					<p>Complete our easy checkout process.</p>
				</div>
				<div class="col-sm-4 service animated hiding" data-animation="fadeInUp" data-delay="900">
					<i class="fa fa-truck fa-4x"></i>
					<h3>Relax and wait</h3>
					<p>We'll do all the work to get your veggies to your door step.</p>
				</div>
				<div class="col-sm-4 service animated hiding" data-animation="fadeInUp" data-delay="600">
					<i class="fa fa-money fa-4x"></i>
					<h3>Pay</h3>
					<p>Pay on delivery using cash or mobile money.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="content-section-b">
	<div class="container">
		<div class="row text-center">
			<div class="heading">
				<h2>Why <span class="orange">Us?</span></h2>
			</div>
			<hr style="width: 40%;"/>
			<div class="fh5co-spacer fh5co-spacer-md"></div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 fh5co-feature-border">
				<div class="fh5co-feature">
					<div class="fh5co-feature-icon to-animate">
						<i class="icon-emoji-happy"></i>
					</div>
					<div class="fh5co-feature-text">
						<h3>Convenience</h3>
						<p>Shop from anywhere, anytime and have your groceries delivered to your doorstep <small>(within Nairobi and its environs)</small>.</p>
					</div>
				</div>
				<div class="fh5co-feature no-border">
					<div class="fh5co-feature-icon to-animate">
						<i class="icon-medal"></i>
					</div>
					<div class="fh5co-feature-text">
						<h3>Quality</h3>
						<p>We carefully hand pick the products we sell for quality control. Be sure to enjoy the same if not better quality product every time you shop with us.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<div class="fh5co-feature">
					<div class="fh5co-feature-icon to-animate">
						<i class="icon-price-ribbon"></i>
					</div>
					<div class="fh5co-feature-text">
						<h3>Better Pricing</h3>
						<p>Our prices are favorable since we have the privilege to source our products directly from our local Kenyan farmers.</p>
					</div>
				</div>
				<div class="fh5co-feature no-border">
					<div class="fh5co-feature-icon to-animate">
						<i class="icon-network"></i>
					</div>
					<div class="fh5co-feature-text">
						<h3>Availability</h3>
						<p>Through our ever growing network of farmers across the country, we ensure that we never lack products and expand on diversity.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="content-section-d">
	<div class="content-section-d-overlay">
		<div class="container">
			<div class="col-md-8 col-md-offset-2">
				<span class="text-center intro"><h3><span class="quo">&ldquo;</span> Our mission is to provide healthy groceries and convenient shopping to our customers. <span class="quo">&rdquo;</span></h3></span>
								<p class="text-center">&mdash; <cite>Everseasons</cite></p>
				{% if user.is_authenticated %}
				<div class="text-center">
				<a href="{% url 'page' 'all' %}" class="btn btn-md btn-default hidden-xs"><i class="fa fa-shopping-basket"></i> Start Shopping</a>
				<a href="{% url 'page' 'all' %}" class="btn btn-xs btn-default hidden-md hidden-lg"><i class="fa fa-shopping-basket"></i> Start Shopping</a>
				</div>
				{% else %}
				<a href="{% url 'signup' %}" class="btn btn-md btn-action hidden-xs">Sign Up</a>
				<a href="{% url 'page' 'all' %}" class="btn btn-md btn-default hidden-xs">Get Started</a>
				<a href="{% url 'signup' %}" class="btn btn-xs btn-action hidden-md hidden-lg">Sign Up</a>
				<a href="{% url 'page' 'all' %}" class="btn btn-xs btn-default hidden-md hidden-lg pull-right">Get Started</a>				
				{% endif %}
			</div>
		</div>
	</div>
</section>
<section class="content-section-b">
	<div class="container">
		<div class="col-md-6 green-icon">
			<h2>Contact us</h2>
			<hr/>
			<p><i class="fa fa-phone"></i> Phone: 0704 164 114</p>
			<p><i class="fa fa-whatsapp"></i> WhatsApp: 0704 164 114</p>
			<p><a href="mailto:sales@everseasons.co.ke"><i class="fa fa-envelope"></i> Email Address: sales@everseasons.co.ke</a></p>
		</div>
		<div class="col-md-6">
		{% if user.is_authenticated %}
			<h2>Deliveries</h2>
			<hr/>
			<p>We make our deliveries from 8am to 6pm daily.</p>
			<a href="{% url 'page' 'delivery' %}" class="btn btn-action">More info</a>
		{% else %}
			<h2>Sign Up</h2>
			<hr/>
			<p>Create an account to start using our service.</p>
			<a href="{% url 'signup' %}" class="btn btn-action">Sign Up</a>
		{% endif %}
		</div>
	</div>
</section>
{% endblock %}
{% block extra_js %}
{% endblock %}