{% extends "base.html" %}

{% load i18n mezzanine_tags variation_tags shop_tags %}

{% block meta_title %}{% trans "Search Results" %}{% endblock %}
{% block title %}{% trans "Search Results" %}{% endblock %}
{% block extra_head %}
<meta name="robots" content="noindex">
{% endblock %}

{% block shop %}{% endblock %}
{% block content %}
<section class="content-section-b"></section>
<section class="content-section-a">
<div class="container">
{% include 'includes/_menu_nav.html' %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
    {% search_form %}
    </div>
</div>
<div id="search-results" class="col-sm-offset-1 col-sm-10 col-xs-12">
<h4>
{% if results.paginator.count == 0 %}
{% blocktrans %}
No results found matching your query: "{{ query }}"
{% endblocktrans %}
{% else %}
{% blocktrans with start=results.start_index end=results.end_index total=results.paginator.count %}
Showing {{ start }} to {{ end }} of {{ total }} results matching your query: "{{ query }}"
{% endblocktrans %}
{% endif %}
</h4>

<div class="panel panel-default">
<div class="panel-body">
{% for result in results.object_list %}
<div class="row">
{% with result.get_absolute_url as result_url %}
    <div class="col-sm-3">
     <h5>{{ forloop.counter0|add:results.start_index }}.
        {% if result_url %}
            <a href="{{ result_url }}">{{ result }}</a>
        {% else %}
            {{ result }}
        {% endif %}
    </h5>
    {% if result.images %} 
        <a href="{{ result_url }}"><img src="{{MEDIA_URL}}{% thumbnail result.image 90 90 %}" style="border-radius: 3px; border: 1px solid #e7e7e7;"/></a>
    {% endif %}
    </div>
    <div class="col-sm-9">
    <ol>
    {% for variation in result.variations.all %}
        <li>{% if variation.has_price %}{{ variation|shave}} - <b>{{ variation.unit_price|currency}}</b>{% endif %}</li>                  
    {% endfor %}
    </ol>
    <p>
    {% if result.description != result|stringformat:"s" %}
    {{ result.description|truncatewords_html:20|safe }}
    {% endif %}
    </p>
    <p>
    {% if result_url %}
        <a class="btn btn-sm btn-action" href="{{ result_url }}">{% trans "read more" %}</a>
    {% endif %}
    </p>
    </div>
{% endwith %}
</div>
<hr style="width: 80%;"/>
{% endfor %}
</div>
</div>
</div>

{% pagination_for results %}
</div>
</section>
{% endblock %}
