{% extends "shop/base.html" %}
{% load shop_tags mezzanine_tags i18n  bootstrap3 %}

{% block meta_title %}{% trans "Checkout" %} - {{ step_title }}{% endblock %}
{% block body_id %}checkout{% endblock %}

{% block extra_head %}
<script>
var _gaq = [['_trackPageview', '{{ request.path }}{{ step_url }}/']];
$(function() {$('.middle :input:visible:enabled:first').focus();});
</script>
{% endblock %}
{% block shop %}{% endblock %}
{% block content %}
<section class="content-section-b"></section>
<section class="content-section-b">
<div class="container">
{% include 'includes/_search_header.html' %}
{% include 'includes/_menu_nav.html' %}
<h3>{% trans "Checkout" %} - {% trans "Step" %} {{ step }} {% trans "of" %} {{ steps|length }}</h3>
{% block breadcrumb_menu %}
<ul class="breadcrumb">
{% for step in steps %}
<li>
    {% if step.title == step_title %}
    <strong>{{ step.title }}</strong>
    {% else %}
    {{ step.title }}
    {% endif %}
</li>
{% endfor %}
<li>{% trans "Complete" %}</li>
</ul>
{% endblock %}

{% block before-form %}{% endblock %}
<form method="post" class="col-md-8 checkout-form">
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% block fields %}{% endblock %}

    {% block nav-buttons %}
        {% if request.cart.has_items %}
            <div class="form-actions row">
                <button type="submit" class="btn btn-lg btn-success hidden-xs pull-right">{% trans "Next" %} <i class="fa fa-angle-double-right"></i></button>
                <button type="submit" class="btn btn-sm btn-success hidden-sm hidden-md hidden-lg pull-right">{% trans "Next" %} <i class="fa fa-angle-double-right"></i></button>
                {% if not CHECKOUT_STEP_FIRST %}
                <button type="submit" class="btn btn-lg btn-action hidden-xs" name="back"><i class="fa fa-angle-double-left"></i> {% trans "Back" %}</button>
                <button type="submit" class="btn btn-sm btn-action hidden-sm hidden-md hidden-lg" name="back"><i class="fa fa-angle-double-left"></i> {% trans "Back" %}</button>

                {% endif %}
            </div>
            <hr class="hidden-sm hidden-md hidden-lg"/>
        {% else %}
            <p>{% trans "Your cart is empty." %}</p>
            <p>{% trans "This may be due to your session timing out after a period of inactivity." %}</p>
            <p>{% trans "We apologize for the inconvenience." %}</p>
            <br>
            <p><a class="btn btn-lg btn-action" href="{% url 'page' 'all'  %}">{% trans "Continue Shopping" %}</a></p>
        {% endif %}
    {% endblock %}

</form>

{% if request.cart.has_items %}
<div class="col-md-4">
    <div class="panel panel-success checkout-panel">
    <div class="panel-body">
    <h4>Your Cart</h4>
    <hr/>
    <ul class="media-list">
    {% for item in request.cart %}
    <li class="media">
        {% if item.image %}
        <img class="pull-left" alt="{{ item.description }}" src="{{ MEDIA_URL }}{% thumbnail item.image 30 30 %}">
        {% endif %}
        <div class="media-body">
            {{ item.quantity }} x {{ item.description }}
            <span class="price">{{ item.total_price|currency }}</span>
        </div>
    </li>
    {% endfor %}
    </ul>
    <hr/>
    {% order_totals %}
    <br style="clear:both;">
    <a class="btn btn-action" href="{% url "shop_cart" %}">{% trans "Edit Cart" %}</a>
    </div>
    </div>
</div>
{% endif %}

{% block after-form %}{% endblock %}
</div>
</section>
{% endblock %}
