{% extends "shop/base.html" %}
{% load i18n %}

{% block body_id %}complete{% endblock %}

{% block meta_title %}{% trans "Order Complete" %}{% endblock %}

{% block extra_head %}
{{ block.super }}
{% if settings.GOOGLE_ANALYTICS_ID %}
<script>

var decimal = function(amount) {
    if (amount.toString().indexOf('.') == -1) {
        amount += '.00';
    }
    return String(amount);
};

var _gaq = [['_trackPageview'], ['_addTrans',
    // order ID - required
    '{{ order.id }}',
    // affiliation or store name
    '',
    // total - required
    decimal({{ order.item_total }}{% if order.discount_total %} - {{ order.discount_total }}{% endif %}),
    // tax
    decimal({% if order.tax_total %}{{ order.tax_total }}{% else %}0{% endif %}),
    // shipping
    decimal({{ order.shipping_total }}),
    // city
    '{{ order.billing_detail_city|escapejs }}',
    // state or province
    '{{ order.billing_detail_state|escapejs }}',
    // country
    '{{ order.billing_detail_country|escapejs }}'
]];

{% for item in items %}
_gaq.push(['_addItem',
    // order ID - required
    '{{ order.id }}',
    // SKU/code - required
    '{{ item.sku }}',
    // product name
    '{{ item.name|escapejs }}',
    // category or variation
    '{{ item.description|escapejs }}',
    // unit price - required
    decimal({{ item.unit_price }}),
    // quantity - required
    '{{ item.quantity }}'
]);
{% endfor %}

// submits transaction to the Analytics servers
_gaq.push(['_trackTrans']);

</script>
{% endif %}
{% endblock %}

{% block shop %}{% endblock %}
{% block content %}
<section class="content-section-b"></section>
<section class="content-section-b">
    <div class="container">
{% include 'includes/_search_header.html' %}
{% include 'includes/_menu_nav.html' %}
<h3>{% block title %}{% trans "Order Complete" %}{% endblock %}</h3>
{% block breadcrumb_menu %}
<ul class="breadcrumb">
{% for step in steps %}
<li>{{ step.title }}</li>
{% endfor %}
<li><strong>{% trans "Complete" %}</strong></li>
</ul>
{% endblock %}
<div class="col-md-8 col-md-offset-2 col-xs-12">
    <div class="well" style="background-color:  #00A352; color: #fff; -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);">
    <h4>{% trans "Thank you for shopping with us, your order is complete." %}</h4>
    <h4><i class="fa fa-money"></i> {% trans "Payments are made on delivery using either cash or mobile money services." %}</h4>

    <hr style="width: 50%;"/>
    <h4 class="text-center"><i>For any questions or enquiries reach us on 0702 269 632</i></h3>
    </div>
    <hr/>
<p>{% trans "We've sent you a receipt via email." %}</p>
<p>{% trans "You can also view your invoice using one of the links below." %}</p>
<br>
<form class="order-complete-form" method="post" action="{% url "shop_invoice_resend" order.id %}?next={{ request.path }}">
    {% csrf_token %}
    {% if has_pdf %}
    <a class="btn btn-danger" href="{% url "shop_invoice" order.id %}?format=pdf">{% trans "Download PDF invoice" %}</a>
    {% endif %}
    <a class="btn btn-info" target="_blank" href="{% url "shop_invoice" order.id %}">{% trans "View invoice in your browser" %}</a>
    <input type="submit" class="btn btn-primary" value="{% trans "Re-send order email" %}">
</form>
</div>
</div>
</section>
{% endblock %}
