{% extends "shop/checkout.html" %}
{% load i18n shop_tags checkout_tags %}

{% block fields %}
{% if request.cart.has_items %}

<div class="confirmation col-md-6">
    <div class="panel panel-default">
    <div class="panel-body">
    <h3>{% trans "Billing Details" %}</h3>
    <ul class="list-unstyled">
        {% for field, value in form.billing_detail_fields.values %}
            {% if value|is_input_filled %}
            <li><label>{{ field }}:</label> {{ value }}</li>
            {% endif %}
        {% endfor %}

    </ul>
    </div>
    </div>
</div>

<div class="confirmation col-md-6">
    <div class="panel panel-default">
    <div class="panel-body">
    <h3>{% trans "Shipping Details" %}</h3>
    <ul class="list-unstyled">

        {% for field, value in form.shipping_detail_fields.values %}
        {% if value|is_input_filled %}
        <li><label>{{ field }}:</label> {{ value }}</li>
        {% endif %}
        {% endfor %}


        {% for field, value in form.additional_instructions_field.values %}
        <li><label>{{ field }}:</label> {{ value }}</li>
        {% endfor %}

    </ul>
    </div>
    </div>
</div>
{% if settings.SHOP_PAYMENT_STEP_ENABLED %}
{% comment %}
<br style="clear:both;">
<div class="confirmation col-md-6">
    <div class="panel panel-default">
    <div class="panel-body">
    <h3>{% trans "Payment Details" %}</h3>
    <ul class="list-unstyled">

        {% for field, value in form.card_name_field.values %}
        <li><label>{{ field }}:</label> {{ value }}</li>
        {% endfor %}

        {% for field, value in form.card_type_field.values %}
        <li><label>{{ field }}:</label> {{ value }}</li>
        {% endfor %}

        <li>
            {% with form.card_expiry_fields.values as expiry_fields %}
            {% with expiry_fields.next as month_field %}
            <label>{{ month_field.0 }}:</label> {{ month_field.1 }}/{{ expiry_fields.next.1 }}
            {% endwith %}
            {% endwith %}
        </li>

        {% for field, value in form.card_fields.values %}
        <li><label>{{ field }}:</label> {{ value }}</li>
        {% endfor %}

    </ul>
    </div>
    </div>
</div>
{% endcomment %}
{% endif %}
<br style="clear:both;">

{% for field in form %}{{ field }}{% endfor %}

{% endif %}
{% endblock %}
