{% extends "base.html" %}
{% load mezzanine_tags shop_tags checkout_tags i18n %}

{% block meta_title %}{% trans "Order History" %}{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li>{% trans "Order History" %}</li>
{% endblock %}
{% block shop %}{% endblock shop %}
{% block content %}
<section class="content-section-b"></section>
<section class="content-section-a">
    <div class="container">
    {% include 'includes/_search_header.html' %}
    {% include 'includes/_menu_nav.html' %}
    <h3>{% block title %}{% trans "Order History" %}{% endblock %}</h3>
{% if orders %}
<div class="table-responsive">
<table class="table table-striped order-history">
    <thead>
        <th class="left">ID</th>
        <th class="left">{% trans "Date" %}</th>
        <th class="right">{% trans "Qty" %}</th>
        <th class="right">{% trans "Paid" %}</th>
        <th>&nbsp;</th>
    </thead>
    <tbody>
    {% for order in orders.object_list %}
    <tr>
        <td class="left">{{ order.id }}</td>
        <td class="left">{{ order.time|date:"d, M Y" }}</td>
        <td class="right">{{ order.quantity_total }}</td>
        <td class="right">{{ order.total|currency }}</td>
        <td class="right">
            <form class="order-history-form" method="post" action="{% url "shop_invoice_resend" order.id %}?next={{ request.path }}">
                {% csrf_token %}
                {% if has_pdf %}
                <a class="btn btn-sm btn-danger" href="{% url "shop_invoice" order.id %}?format=pdf">{% trans "Download PDF" %}</a>
                {% endif %}
                <a class="btn btn-sm btn-info" target="_blank" href="{% url "shop_invoice" order.id %}">{% trans "View invoice" %}</a>
                <input type="submit" class="btn btn-sm btn-action" value="{% trans "Re-send order email" %}">
            </form>
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
<div class="text-center">
{% pagination_for orders %}
</div>
<br/><br/>
{% else %}
<div class="col-md-6 col-md-offset-3">
<div class="panel panel-warning">
<div class="panel-body">
    <br/><br/>
    <p style="text-align:center;"><span class="badge"><i class="fa fa-3x fa-info"></i></span> {% trans "You have not ordered anything from us yet." %}</p>
    <br/>
</div>
</div>
</div>
{% endif %}
</div>
</section>
{% endblock %}
