{% extends "base.html" %}
{% load staticfiles mezzanine_tags shop_tags rating_tags variation_tags i18n %}

{% block meta_title %}{{ product.meta_title }}{% endblock %}
{% block body_id %}category{% endblock %}

{% block meta_keywords %}{% metablock %}
{% for keyword in product.keywords.all %}
{% if not forloop.first %}, {% endif %}
{{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ product.description }}
{% endmetablock %}{% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "mezzanine/css/magnific-popup.css" %}">
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static "mezzanine/js/magnific-popup.js" %}"></script>
<script>
    $(document).ready(function() {
        $('#product-images-large').magnificPopup({
            delegate: 'a',
            type: 'image',
            gallery: 
            {            enabled: true,
            }
        });
    });
</script>
{% endblock %}

{% block extra_head %}
{{ block.super }}
<script>var variations = {{ variations_json|safe }};</script>
<script src="{% static "cartridge/js/product_variations.js" %}"></script>
{% endblock %}
{% block search %}
{% search_form %}
{% endblock %}
{% block title %}
{% editable product.title %}{{ product.title |capfirst  }}{% endeditable %}
{% endblock %}
{% block shop %}{% endblock shop %}
{% block content %}
<section class="content-section-b"></section>
<section class="content-section-b">
    <div class="container">
        {% include 'includes/_search_header.html' %}
        {% include 'includes/_menu_nav.html' %}
        {% block breadcrumb_menu %}
        <ul class="breadcrumb">
            {{ block.super }}
            <li><a href="{% url 'page' 'all' %}">All Vegetables</a></li>
            <li class="active">{{ product.title | capfirst }}</li>
        </ul>
        {% endblock %}
        <div class="col-md-4">
            {% if images %}
            {% spaceless %}
            <ul id="product-images-large" class="list-unstyled list-inline">
                {% for image in images %}
                <li id="image-{{ image.id }}-large"{% if not forloop.first %}style="display:none;"{% endif %}>
                    <a class="product-image-large" href="{{ MEDIA_URL }}{{ image.file }}">
                        <img alt="{{ image.description }}" src="{{ MEDIA_URL }}{% thumbnail image.file 0 300 %}" style=" width: 100%; border-radius: 3px; border: 1px solid #efefef;" class="img-thumbnail img-responsive col-xs-12">
                    </a>
                </li>
                {% endfor %}
            </ul>

            {% if images|length != 1 %}
            <ul id="product-images-thumb" class="list-unstyled list-inline">
                {% for image in images %}
                <li>
                    <a class="thumbnail" id="image-{{ image.id }}" href="{{ MEDIA_URL }}{{ image.file }}">
                        <img alt="{{ image.description }}" src="{{ MEDIA_URL }}{% thumbnail image.file 75 75 %}">
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            {% endspaceless %}
            {% endif %}
        </div>
        <div class="col-md-4">
            <h3>{% editable product.title %}{{ product.title | capfirst}}{% endeditable %}</h3>
            {% for keyword in product.keywords.all %}
            <span class="label label-success">{{ keyword }}</span>
            {% endfor %}

            {% if product.available and has_available_variations %}
            <ul id="variations" class="list-unstyled">
                {% for variation in variations %}
                <li id="variation-{{ variation.sku }}"{% if not variation.default %}style="display:none;"{% endif %}>
                {% if variation.has_price %}
                {% if variation.on_sale %}
                <span class="old-price"><b>{{ variation.unit_price|currency }}</b> - <sub>{{variation|shave}}</sub></span>
                {% trans "On sale:" %}
                {% endif %}
                <span class="price"><h3>{{ variation|shave }} - <b>{{ variation.price|currency }}</b></h3></span>
                {% else %}
                {% if has_available_variations %}
                <span class="error-msg">
                    {% trans "The selected options are currently unavailable." %}
                </span>
                {% endif %}
                {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        {% editable product.content %}
        {{ product.content|richtext_filters|safe }}
        {% endeditable %}
        {% if product.available and has_available_variations %}
        <hr/>
        <h4>Available packaging</h4>
        <ol type="1">
            {% for variation in product.variations.all %}
            <li>{% if variation.has_price %}{{ variation|shave}} - <b>{{ variation.unit_price|currency}}</b>{% endif %}</li>                  
            {% endfor %}
        </ol>

        {% else %}
        <p class="error-msg">{% trans "This product is currently unavailable." %}</p>
        {% endif %}
    </div>
    <div class="col-md-4">
    {% if product.available and has_available_variations %}
    
        <div class="panel panel-black">
            <div class="panel-body">
                <h2><i class="fa fa-plus"></i> Add to Cart</h2>
                <hr style="border-color: #555"/>
                {% errors_for add_product_form %}

                <form method="post" id="add-cart" class="shop-form">
                    {% fields_for add_product_form %}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-info pull-right  hidden-xs" name="add_cart"><i class="fa fa-shopping-cart"></i> {% trans "Add to Cart" %}</button>
                        {% if settings.SHOP_USE_WISHLIST %}
                        <button title="Your list of vegetables you buy frequently." type="submit" class="btn btn-action btn-sm  hidden-xs" name="add_wishlist"><i class="fa fa-star"></i> {% trans "Add to Wishlist" %}</button>
                        {% endif %}
                        <button type="submit" class="btn btn-info btn-sm pull-right hidden-sm hidden-md hidden-lg" name="add_cart"><i class="fa fa-shopping-cart"></i> {% trans "Add" %}</button>
                        {% if settings.SHOP_USE_WISHLIST %}
                        <button title="Your list of vegetables you buy frequently." type="submit" class="btn btn-action btn-sm hidden-sm hidden-md hidden-lg" name="add_wishlist"><i class="fa fa-star"></i>{% trans "Add to Wishlist" %}</button>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
        {% endif %}
        {% if settings.SHOP_USE_RELATED_PRODUCTS and related_products %}
        <div class="panel panel-black">
            <div class="panel-body">
                <h2>{% trans "Related Products" %}</h2>
                <div class="row related-products">
                    {% for product in related_products %}
                    <div class="col-xs-6 col-sm-4 col-md-6 product-thumb">
                        <a class="thumbnail" href="{{ product.get_absolute_url }}">
                            {% if product %}
                            <img src="{{ MEDIA_URL }}{% thumbnail product.image 160 100%}">
                            {% endif %}
                            <div class="caption">
                                <h6>{{ product.title|capfirst }}</h6>
                                <div class="price-info">
                                    {% if product.has_price %}
                                    {% if product.on_sale %}
                                    <span class="old-price">{{ product.unit_price|currency }}</span>
                                    {% trans "On sale:" %}
                                    {% endif %}
                                    <span class="price">{{ product.price|currency }}</span>
                                    {% else %}
                                    <span class="coming-soon">{% trans "Coming soon" %}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    </div>
</section>
{% endblock %}