{% extends "shop/base.html" %}
{% load mezzanine_tags shop_tags i18n %}

{% block meta_title %}{% trans "My Grocery Wishist" %}{% endblock %}

{% block shop %}{% endblock %}
{% block content %}
<section class="content-section-b"></section>
<section class="content-section-b">
    <div class="container">
        {% include 'includes/_search_header.html' %}
        {% include 'includes/_menu_nav.html' %}
        {% block breadcrumb_menu %}
        <ul class="breadcrumb">
            {{ block.super }}
            <li>{% trans "My Grocery Wishlist" %}</li>
        </ul>
        {% endblock %}
        <h3>{% block title %}{% trans "My Grocery Wishlist" %}{% endblock %}</h3>

        {% if error %}{{ error }}{% endif %}
        {% if request.wishlist %}
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-striped wishlist">
                    {% for item in wishlist_items %}
                    <tr>
                        <td width="30">
                            {% if item.image %}
                            <a href="{{ item.get_absolute_url }}"><img alt="{{ item }}" src="{{ MEDIA_URL }}{% thumbnail item.image.file 30 30 %}"></a>
                            {% else %}
                            &nbsp;
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ item.get_absolute_url }}">{{ item }}</a>
                        </td>
                        <td class="wishlist-actions">
                              <form method="post">
                                {{ item.unit_price|currency }}
                                {% csrf_token %}
                                <input type="hidden" name="sku" value="{{ item.sku }}">
                                <input type="hidden" name="quantity" value="1">
                                <input type="submit" class="btn btn-sm btn-info" name="add_cart" value="{% trans "Buy" %}">
                                <input type="submit" class="btn btn-sm btn-action" name="remove_wishlist" value="&times;">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% else %}
        <p>{% trans "Your wishlist is empty." %}</p>
        <br>
        <p><a class="btn btn-large btn-action" href="{% url "page" "all" %}">{% trans "Continue Shopping" %}</a></p>
        {% endif %}
    </div>
</section>
{% endblock %}
