{% extends 'base.html' %}
{% block title %} {% if category %}{{ category}}{% else %} Vegetables {% endif %}| Ever season {% endblock %}
{% block header %}
{% load mezzanine_tags shop_tags variation_tags i18n %}
<section class="content-section-b">
</section>
{% endblock %}
{% block shop %}{% endblock shop %}
{% block content %}
<section class="content-section-a">
	<div class="container">
		{% include 'includes/_search_header.html' %}
		{% include 'includes/_menu_nav.html' %}
		<ol class="breadcrumb">
  			<li><a href="{% url 'home' %}">Home</a></li>
  			<li class="active">Vegetables</li>
		</ol>
			{% for vegie in products %}
			{% include 'includes/_vegetable_list.html' %}
			{% empty %}
				<div class="well">
					<h1><i class="fa fa-frown-o fa-3x"></i> Sorry!</h1>
					<br/>
					<h2>No vegetable found in this category</h2>
					<br/>
					<a class="btn btn-lg btn-primary" href="{% url 'vegetable">Back to Vegetables</a>
				</div>
			{% endfor %}
		</div>
</section>
<section class="content-section-e">
	<div class="container">
		<div class="text-center">
{% pagination_for products %}
</div>
	</div>
</section>
{% endblock %}
{% block script %}
{% endblock %}