{% extends "base.html" %}
{% load i18n mezzanine_tags bootstrap3 %}

{% block meta_title %}{{ title }}{% endblock %}
{% bootstrap_css %}
{% block title %}{{ title }}{% endblock %}
{% block body_id %}account{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li>{{ title }}</li>
{% endblock %}

{% block shop %}{% endblock %}
{% block content %}
<section class="content-section-b"></section>
<section class="content-section-a" id="signup">
	<div class="container">
{% bootstrap_form_errors form %}
<div class="col-md-4 col-md-offset-4">
<div class="panel panel-default">
<div class="panel-body">
<form method="post"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
	{% csrf_token %}
    <fieldset>
    <legend>{{ title }}</legend>
    {% bootstrap_form form layout="vertical" %}
    <hr/>
    <div>
        {% block account_form_actions %}
        <input class="btn btn-action btn-lg btn-block" type="submit" value="{{ title }}">
        {% endblock %}
    </div>
    </fieldset>
</form>
</div>
</div>
</div>
</div>
</section>
{% endblock %}
{% block footer %}{% endblock %}
