{% extends "base.html" %}

{% load i18n %}

{% block meta_title %}
{% trans "Error" %}
{% endblock %}

{% block title %}
{% trans "Error" %}
{% endblock %}
{% block breadcrumb_menu %}
{{ block.super }}
<li>{{ title }}</li>
{% endblock %}

{% block shop %}{% endblock %}
{% block content %}
<section class="content-section-b"></section>
<section class="content-section-a" id="signup">
	<div class="container">
		<div class="col-sm-6 col-sm-offset-3">
		<div class="panel panel-danger">
			<div class="panel-heading"><h3 class="panel-title">{% trans "Error" %}</h3></div>
			<div class="panel-body" class="text-center">
				<h3>{% trans "Sorry, an error occurred." %}</h3>
				<p><a href="{% url 'home' %}" class="btn btn-lg btn-success btn-block"><i class="fa fa-angle-double-left"></i> Return to Home Page</a></p>
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% block footer %}{% endblock %}