{% extends "pages/page.html" %}

{% load staticfiles mezzanine_tags shop_tags variation_tags pages_tags i18n %}
{% block body_id %}category{% endblock %}
{% block shop %}{% endblock %}
{% block content %}
<section class="content-section-b"></section>
<section class="content-section-a">
<div class="container">
{% include 'includes/_search_header.html' %}
{% include 'includes/_menu_nav.html' %}

{% if products.paginator.count != 0 %}
{% block breadcrumb_menu %}
<ul class="breadcrumb">
<li>
    <a href="{% url "home" %}">{% trans "Home" %}</a>
</li>
<li class="active">{{ page.title }}</li>
</ul>
{% endblock %}
<div class="col-md-9">
<div class="row product-list">
{% for vegie in products.object_list %}
    {% include 'includes/_category_vegetable_list.html' %}
{% endfor %}
</div>
</div>
<div class="col-md-3">
	{% page_menu 'pages/menus/sidebar_menu.html' %}
</div>
{% endif %}
</div>
</section>
<section class="content-section-e">
    <div class="container">
    	<div class="row">
        <div class="col-md-9 text-center">
			{% pagination_for products %}
		</div>
		</div>
    </div>
</section>
{% endblock %}
{% block extra_js %}
{% endblock %}
