{% extends "base.html" %}
{% load mezzanine_tags keyword_tags  i18n %}

{% block meta_title %}Free deliveries for orders over Ksh2000.00 {% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block shop %}{% endblock %}
{% block content %}
<section class="content-section-b"></section>
<section id="del">
    <div class="overlay">
       <div class="container">
           <div class="col-sm-8 col-sm-offset-2 col-xs-12">
            {% block breadcrumb_menu %}
            <ul class="breadcrumb" style="margin-top: 5%;"> 
                <li>
                   <a href="{% url "home" %}">{% trans "Home" %}</a>
               </li>
               <li class="active">{{ page.title }}</li>
           </ul>
           {% endblock breadcrumb_menu %}
       </div>
       <div class="col-sm-8 col-sm-offset-2 col-xs-12">
        <div class="panel panel-default" style="margin-top: 3%;">
            <div class="panel-body">
                {% block main %}
                <h3 class="text-center"><i class="fa fa-truck"></i> Deliveries</h3>
                <hr/>
                <div class="text-center">
                    <h4>We make deliveries within <strong>Nairobi</strong> and its environs.</h4>
                    <h4>All Deliveries are made within <strong>24 hrs</strong> from when you make the order.</h4>
                    <h4> Delivery period is between <strong>8am</strong> to <strong>6pm</strong> daily.</h4>
                    <hr/>
                    <p><strong>A flat delivery fee of Ksh250.00 is charged for orders whose total is below  Ksh2000.00</strong></p>
                    {% endblock main %}
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}