{% extends "base.html" %}
{% load mezzanine_tags keyword_tags  i18n %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}



{% block shop %}{% endblock %}
{% block content %}
<section class="content-section-b"></section>
<section class="content-section-b">
	<div class="container">
	<h2>{% editable page.title %}{{ page.title }}{% endeditable %}</h2>
	{% block breadcrumb_menu %}
	<ul class="breadcrumb">
		<li>
   		 <a href="{% url "home" %}">{% trans "Home" %}</a>
   		 </li>
		<li class="active">{{ page.title }}</li>
	</ul>
	{% endblock breadcrumb_menu %}
	{% block main %}
	{% endblock main %}
	</div>
</section>
{% endblock %}