{% load i18n shop_tags mezzanine_tags %}
<div class="panel panel-black cart" id="cart">
	<div class="panel-body">
		<span><i class="fa fa-shopping-cart"></i> <b>Cart</b></span>
		<span class="text-muted"> {% if request.cart.total_quantity == 0%}(empty){% elif request.cart.total_quantity == 1 %} item {% else %} {{ request.cart.total_quantity}} items{% endif %}</span>
		<span class="pull-right caret"></span>
		<div class="cart-content">
			<ul class="media-list">
				{% for item in request.cart %}
				<li class="media">
					{% if item.image %}
					<img class="pull-left" alt="{{ item.description }}" src="{{ MEDIA_URL }}{% thumbnail item.image 30 30 %}">
					{% endif %}
					<div class="media-body">
						{{ item.quantity }} x {{ item.description }}
						<span class="price">{{ item.total_price|currency }}</span>
					</div>
				</li>
				{% endfor %}
			</ul>
			{% spaceless %}
			<p>Total<span class="pull-right">{{ request.cart.total_price|currency }}</span></p>
			{% if request.cart.total_quantity != 0 %}
			<a href="{% url "shop_checkout" %}" class="btn btn-block btn-success">
				{% if request.session.order.step %}{% trans "Return to Checkout" %} <i class="fa fa-angle-right"></i>{% else %}{% trans "Go to Checkout" %} <i class="fa fa-angle-double-right"></i>{% endif %}
			</a>
			{% endif %}
			{% if settings.SHOP_USE_WISHLIST %}
			<hr style="border-color: #555;"/>
			<a href="{% url "shop_wishlist" %}" class="btn-wishlist">
				<span class="glyphicon glyphicon-star"></span>
				{% blocktrans count request.wishlist|length as wishlist_count %}Wishlist (1 item){% plural %} Wishlist <span class="text-muted">( empty )</span>{% endblocktrans %}</a>
				{% endif %}
				{% endspaceless %}
			</div>
		</div>
	</div>
