{% load i18n mezzanine_tags bootstrap3 staticfiles %}
<fieldset>
    <legend>{% trans "Payment Steps" %}</legend>
   {% bootstrap_form_errors form %}
   {% bootstrap_form form %}
   <div class="well" style="background-color:  #00A352; color: #fff; -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);">
                
   <span class="text-center" style="color:#fff;"><img src="{% static 'img/mpesa.jpg' %}" style="width:20%;"></span>
   	<hr style="width: 50%;"/>
   	<ol>
   		<li><h4>Pay full amount using "Lipa na Mpesa" account No <b>23435656</b>.</h4></li>
      <li><h4>Press the "Next" button below to complete checkout</h4></li>
   		<li><h4><strong>Make sure you complete the checkout process.</strong></h4></li>
      <li><h4>We will verify the payment and get back to you by email and SMS.</h4></li>
   	</ol>
   	<hr style="width: 50%;"/>
   		<h4 class="text-center"><i>For any questions or enquiries reach us on 07xx453xxx</i></h3>
   </div>
</fieldset>
 