{% load staticfiles mezzanine_tags shop_tags rating_tags variation_tags i18n %}
<a href="{% url 'page' 'all' %}">
<div class="col-sm-6">
	<div class="well">
		<div class="heading text-center">
			<h2><i class="orange fa fa-shopping-basket"></i> Start <span class="orange">Shopping</span><h2/>
		</div>
		<p>We have a selection of all you need.</p>
		<div class="row"> 
			{% for vegie in products %}
			<div class="image" style="float:left;">
				<a href="{% url 'shop_product' vegie.slug %}">
				<img src="{% if vegie.images.all %} {{MEDIA_URL}}{% thumbnail vegie.image 50 50 %} {% else %} {% static 'img/placeholder.jpg' %} {% endif %}" class="img-responsive" title="{% with vegie.variations.all|first as variation %} {{ vegie.title | capfirst }} {% if variation.has_price %}{{ variation.unit_price|currency}}{% endif %} - {{ variation | shave }}{% endwith %}"/>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>