<footer>
    <div class="container">
        <div class="col-sm-4">
            <div class="links">
                <p><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></p>
                <p><a href="{% url 'page' 'all' %}">Vegetables</a></p>
                <p><a href="{% url 'page' 'delivery' %}">Delivery</a></p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="rights">
                <p>Copyright &copy; Everseasons 2016.</p>
                <p>All Rights Reserved.</p>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class="social">
                <a href="https://twitter.com/Everseasons_ke" class="scrollpoint sp-effect3"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="#" class="scrollpoint sp-effect3"><i class="fa fa-facebook fa-lg"></i></a>
                <a href="tel:0704164114" class="scrollpoint sp-effect3"><i class="fa fa-whatsapp fa-lg"></i></a>
            </div>
        </div>
    </div>
</footer>