{% load pages_tags mezzanine_tags shop_tags i18n staticfiles %}
<div class="row">
	<div class="col-sm-12">	
	<nav class="navbar navbar-green navbar-static-top">
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
			<a class="navbar-brand page-scroll">Categories</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
			{% page_menu "pages/menus/dropdown.html" %}
		</div>
	</nav>
	</div>
</div>