{% load i18n shop_tags mezzanine_tags variation_tags %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="{% url 'home' %}"><i class="fa fa-leaf"></i> 
                Everseasons <sub style="font-size: 10px;">beta</sub>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-center">

            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> {% if user.first_name %}{{ user.first_name }} {% else %} {{ user.email }} {% endif %}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'shop_order_history' %}"><i class="fa fa-clipboard"></i> Orders</a></li>
                    <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> logout</a></li>
                </ul>
            </li>
            {% else %}
            <li><a href="{% url 'signup' %}"><i class="fa fa-sign-up"></i> Sign up</a></li>
            <li><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Log in</a></li>
            {% endif %}
        </ul>
    </div>
</div>
</nav>