{% load staticfiles mezzanine_tags shop_tags rating_tags i18n %}
<div class="row">
	<div class="col-xs-12">
		<div class="col-md-3 green-icon">
			<h5><i class="fa fa-phone"></i> <span class="text-muted">Call Us:</span> 0704 164 114</h5>
			<h5><i class="fa fa-whatsapp"></i> <span class="text-muted">WhatsApp:</span> 0704 164 114</h5>
		</div>
		<div class="col-md-4 search-wrapper">
			<div>
			{% search_form %}
			</div>
		</div>
		<div class="col-md-5 col-xs-12">
		{% include 'includes/mini_basket.html'%}
		</div>
	</div>
</div>