{% load staticfiles mezzanine_tags shop_tags rating_tags variation_tags i18n %}
{% nevercache %}
{% load staticfiles mezzanine_tags shop_tags rating_tags variation_tags i18n %}
<ul class="basket-mini-item list-unstyled">
    {% if request.cart.total_quantity != 0 %}
        {% for item in request.cart %}
            <li>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="image_container">
                                <a href="{{ item.url }}"><img class="thumbnail" src="{{MEDIA_URL}}{% thumbnail item.image 40 40 %}" alt="{{ item.description }}"></a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <p>{{ item.description }}</p>
                    </div>
                    <div class="col-sm-3 align-center"><strong>{% trans "Qty" %}</strong> {{ item.quantity }}</div>
                    <div class="col-sm-3 price_color align-right">
                        {{ item.total_price|currency }}
                    </div>
                </div>
            </li>
        {% endfor %}
        <li class="form-group form-actions">
            <p class="align-right">
                <small>{% trans "Total:" %}</small>
                {{ request.cart.total_price|currency }} 
            </p>
            <a href="{% url 'shop_cart' %}" class="btn btn-action btn-sm">{% trans "View Cart" %}</a>
            <a href="{% url "shop_checkout" %}" class="btn btn-info btn-sm pull-right">{% if request.session.order.step %}{% trans "Return to Checkout" %} <i class="fa fa-angle-right"></i>{% else %}{% trans "Go to Checkout" %} <i class="fa fa-angle-double-right"></i>{% endif %}</a>
        </li>
    {% else %}
        <li><p><i class="fa fa-shopping-cart"></i> {% trans "Your cart is empty." %}</p></li>
    {% endif %}
</ul>
{% endnevercache %}
