{% load staticfiles mezzanine_tags shop_tags rating_tags variation_tags i18n %}
{% nevercache %}
{% load i18n shop_tags mezzanine_tags %}
<div class="row hidden-sm hidden-md hidden-lg">
    <a class="btn btn-sm" href="{% url 'shop_cart' %}">
            <i class="fa fa-shopping-cart"></i>
            {% trans "Shopping Cart " %}
            {% nevercache %}
            {{ request.cart.total_quantity }} Items <i class="fa fa-angle-double-right"></i>
            {% endnevercache %}
        </a>
</div>
<div class="basket-mini pull-right hidden-xs">
    <strong>{% trans "Cart total:" %}</strong><span id="cart-total">{{ request.cart.total_price|currency }}</span>

    <span class="btn-group">
        <a class="btn btn-default" href="{% url 'shop_cart' %}"><i class="fa fa-shopping-cart"></i> {% trans "View cart" %}</a>
        <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
            <li>{% include "includes/basket_quick.html" %}</li>
        </ul>
    </span>
</div>
{% endnevercache %}