{% load mezzanine_tags i18n %}
<form class="form-horizontal" id="search-form" action="{% url 'search' %}" role="search">
	<div class="form-group">
		<div class="input-group">
		<input class="form-control" placeholder="{% trans "search for produce.." %}" type="text" name="q" value="{{ request.REQUEST.q }}">
			{% if search_model_choices %}
			{% if search_model_choices|length == 1 %}
			<input type="hidden" name="type" value="{{ search_model_choices.0.1 }}">
			{% else %}
			<div class="form-group">
				<select class="form-control" name="type">
					<option value="">{% trans "Everything" %}</option>
					{% for verbose_name, model in search_model_choices %}
					<option value="{{ model }}"
					{% if model == request.REQUEST.type  %}selected{% endif %}>
					{{ verbose_name }}
				</option>
				{% endfor %}
			</select>
		</div>
		{% endif %}
		{% endif %}
		<div class="input-group-btn" style="margin-top: -10px;"><button type="submit" class="btn btn-action"><i class="fa fa-search"></i> Search</button></div>
	</div>
</div>
</form>