{% load staticfiles mezzanine_tags shop_tags rating_tags variation_tags i18n %}

<div id="product">
	<div class="row" title="{% with vegie.variations.all|first as variation %}{% if variation.has_price %}{{ variation.unit_price|currency}}{% endif %} - {{ variation | shave }}{% endwith %}">
		<div class="col-xs-6">
			<a href="{% url 'shop_product' vegie.slug %}">
			<img src="{% if vegie.images.all %} {{MEDIA_URL}}{% thumbnail vegie.image 120 100 %} {% else %} {% static 'img/placeholder.jpg' %} {% endif %}" style="border-radius: 3px; border: 1px solid #efefef;" class="img-responsive"/>
			</a>
			<h4 class="name"><a href="{% url 'shop_product' vegie.slug %}">{{ vegie.title }}</a></h4>
			{% for keyword in vegie.keywords.all %}
			<span class="label label-success">{{ keyword }}</span>
			{% endfor %}
		</div>
		<div class="col-xs-6">
			{% with vegie.variations.all|first as variation %}
			<h4 class="">{% if variation.has_price %}{{ variation.unit_price|currency}}{% endif %}</h4>

			<small>{{ variation|shave }}</small>
			<hr/>
			<form method="post" id="add-cart-{{ vegie.id }}" class="shop-form">
				{% csrf_token %}
				<input type="hidden" id="product_id" name="product" value="{{ vegie.id }}" />
				<div class="row">
					<div class="col-xs-6">
						<label class="form-label">Quantity</label>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<input  min="1" class="form-control" type="number" name="quantity" value="1" />
						</div>
					</div>
				<div class="col-xs-12">
					<span><button type="submit" title="Add to Cart" id="add_to_cart" class="btn btn-sm btn-info" name="add_to_cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button></span>
				</div>
				</div>
			</form>
			{% endwith %}
		</div>
	</div>
</div>
<hr/>