{% load staticfiles mezzanine_tags shop_tags rating_tags variation_tags i18n %}


<div id="product" class="col-sm-2">
	<div class="thumbnail" title="{% with vegie.variations.all|first as variation %}{% if variation.has_price %}{{ variation.unit_price|currency}}{% endif %} - {{ variation | shave }}{% endwith %}">
		<a href="{% url 'shop_product' vegie.slug %}">
			<img src="{% if vegie.images.all %} {{MEDIA_URL}}{% thumbnail vegie.image 250 180 %} {% else %} {% static 'img/placeholder.jpg' %} {% endif %}" style="border-radius: 3px;" class="img-responsive"/>
		</a>
		<div class="caption">
			<h4 class="name"><a href="{% url 'shop_product' vegie.slug %}">{{ vegie.title }}</a></h4>
			{% with vegie.variations.all|first as variation %}
			<h4 class="">{% if variation.has_price %}{{ variation.unit_price|currency}}{% endif %}</h4>

			<span><small>{{ variation|shave }}</small></span>
			<form method="post" id="add-cart-{{ vegie.id }}" class="shop-form">
					{% csrf_token %}
					<input type="hidden" id="product_id" name="product" value="{{ vegie.id }}" />
                   	<div class="col-xs-4">
                		<input  min="1" class="form-control tiny-input" type="number" name="quantity" value="1" title="quantity"/>
           	 		</div>
                    <span><button type="submit" title="Add to Cart" id="add_to_cart" class="pull-right btn-info add_cart hidden-xs" name="add_to_cart"><i class="fa fa-shopping-cart"></i></button></span>
                    <button type="submit" title="Add to Cart" id="add_to_cart" class="btn btn-sm btn-info hidden-sm hidden-md hidden-lg" name="add_to_cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                </form>
            {% endwith %}
		</div>
	</div>
</div>